@import '../../assets/Sass/inc/variables';

.task-card {
    margin: 20px;
    box-shadow: 0 0 1px 1px $orange;
    color: $green;
    // background-color: $light_orange;
    &:hover {
        cursor: move; 
    }
}

.selected {
    box-shadow: 0 0 1px 1px $blue !important;
    border-color: $blue !important;
    color: $green !important;
    .show-more {
        border-color: $blue !important;
        box-shadow: 0 0 1px 1px $blue !important;
    }
}

.task-id p {
    color: $blue
}

p.priority {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    margin-left: 40%;
}
p.pr-high {
    border-color: #980000;
    background-color: rgb(204, 97, 97);
}

p.pr-mid {
    border-color: $orange;
    background-color: $light_orange;
}

p.pr-low {
    border-color: #7def4c;
    background-color: #acf48d;
}

.card-content {
    padding: .5rem;
}

.columns {
    margin: 0;
}

.cat {
    padding: .15rem;
}

.pri {
    border: 1px solid black;
    width: 26px;
    margin-left: 50%;
    border-radius: 50%;
}

.date {

}

.modal-card-body {
    display: flex;
    max-width: 600px;
    border-radius: 5px;
}

.close-modal-sml {
    margin-left: -30px;
    margin-top: 5px;
    z-index: 9999999;
}

.card-footer a {
    color: $orange;
    &:hover {
        color: $light_orange;
    }
}