<ul class="tasks">
  <li *ngFor="let task of tasks">
    <div class="card task-card" [class.selected]="task === selectedTask" (click)="onSelect(task)">
      <!-- Card Header -->
      <div class="card-header">
        <p class="card-header-title task-title">
          {{ task.title }}
        </p>
        <div class="show/hide">
          <div *ngIf="task === selectedTask">
            <div class="icon">
              <i class="fas fa-angle-up"></i>
            </div>
          </div>
          <ng-container *ngIf="task != selectedTask">
            <div class="icon">
              <i class="fas fa-angle-down"></i>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-content">
        <ng-container *ngIf="task === selectedTask">
          <div class="box task-description" id="descBox">
            <p>{{ task.description }}</p>
          </div>
        </ng-container>
        <div class="columns">
          <div class="column task-category has-text-centered">
            <a class="cat button">{{ task.category }}</a>
          </div>
          <div class="column task-priority has-text-centered">
            <p class="pri">{{ task.priority }}</p>
          </div>
          <div class="column task-status has-text-centered">
            <p class="date">{{ task.progress }}</p>
          </div>
        </div>
        <div class="task-id has-text-centered">
          <p>taskid</p>
        </div>
      </div>
      <!-- Card Footer -->
      <footer class="card-footer">
        <a (click)="toggleModal()" class="card-footer-item">Open</a>
        <a class="card-footer-item">Update</a>
        <a class="card-footer-item">Delete</a>
      </footer>
    </div>
  </li>
</ul>

<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <section class="modal-card-body">
    <app-single-task [task] = "selectedTask"></app-single-task>
    <button class="close-modal-sml delete" 
    aria-label="close"
    (click)="toggleModal()"></button>
  </section>
  <button class="modal-close is-large" 
    aria-label="close" 
    (click)="toggleModal()"></button>
</div>
