@import '../../assets/Sass/variables';

.task-details {
    border: 1px solid $orange;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px $orange;
    color: $green;
    // background-color: $light_orange;
    &:hover {
        cursor: move; 
    }
}

.selected {
    // background-color: $light_blue !important;
    box-shadow: 0 0 1px 1px $blue !important;
    border-color: $blue !important;
    color: $green !important;
    .show-more {
        border-color: $blue !important;
        box-shadow: 0 0 1px 1px $blue !important;
    }
}

.task-id p {
    color: $blue
}

p.priority {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    margin-left: 40%;
}
p.pr-high {
    border-color: #980000;
    background-color: rgb(204, 97, 97);
}

p.pr-mid {
    border-color: $orange;
    background-color: $light_orange;
}

p.pr-low {
    border-color: #7def4c;
    background-color: #acf48d;
}

.show-more {
    width: 100%;
    border: $orange;
    box-shadow: 0 0 1px 1px $orange;
}
