<section class="hero is bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a routerLink="/dashboard">
            <img src="../../assets/Images/mountainWeb.png">
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">  
            <a class="navbar-item" routerLink="/dashboard">
              Home
            </a>
            <a class="navbar-item" routerLink="/tasks-board">
              Tasks
            </a>
            <a class="navbar-item">
              Projects
            </a>      
            <a class="navbar-item">
              About
            </a>      
          </div>  
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="subtitle">
        {{ subtitle }}
      </h2>
    </div>
  </div>
</section>