<section class="hero is-small is bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar=item">
            <img src="../../assets/Images/mountainWeb.png">
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">  
            <a class="navbar-item active">
              Home
            </a>
            <a class="navbar-item">
              Archive
            </a>
            <a class="navbar-item">
              Projects
            </a>      
            <a class="navbar-item">
              About
            </a>      
          </div>  
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="subtitle">
        {{ subtitle }}
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="active"><a>Tasks</a></li>
          <li><a>To Do</a></li>
          <li><a>In Progress</a></li>
          <li><a>Done</a></li>
          <li><a>Feature list</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>