@import '../../assets/Sass/inc/variables';

.navbar-item img {
    max-height: 2.5rem !important;
}

.navbar {
    opacity: 0.9;
}

.bg-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: 10px;
    font-size: 12px !important;
    border-radius: 15px;
}

.light {
    border: 1px solid #F5F5F5;
    padding: 5px;
    background-color: #F5F5F5;
    color: #494949;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    &:hover {
        background-color: white;
        border-color: white;
        color: black;
    }
}

.dark {
    border: 1px solid #494949;
    padding: 5px;
    background-color: #494949;
    color: #F5F5F5;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    &:hover {
        background-color: black;
        border-color: black;
        color: white;
    }
}