<nav class="navbar is-dark">
  <div class="level">
    <p class="level-item">
      <a class="txt">Contact</a>
    </p>
    <p class="level-item">
      <a class="txt">About</a>
    </p>
    <p class="level-item">
      <a class="lvl-img" routerLink="/tasks-board"><img class="footer-logo" src="../../assets/Images/Tracker-logo.png"></a>
    </p>
    <p class="level-item">
      <a class="txt" href="https://github.com/Mike8327/Task_tracker" target="_blank">Github</a>
    </p>
    <p class="level-item">
      <a class="txt" routerLink="/code-snip">CodeSnip</a>
    </p>
  </div>
</nav>