<section class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box codesnip-widget">
      
      <nav class="level">
        <p class="level-item has-text-centered">
          <a class="button is-dark">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>
              Github
            </span>
          </a>
        </p>

        <p class="level-item has-text-centered">
          <img src="../../assets/Images/codesnip.png" width="150px">
        </p>

        <div class="level-item has-text-centered">
          <div class="field has-addons">
            <p class="control">
              <button class="button">
                Search
              </button>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Search Snippets">
            </p>
          </div>
        </div>
      </nav>
      <app-snippets></app-snippets>
    </div>
  </div>
</section>