<section class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box codesnip-widget">
      
      <nav class="level">
        <p class="level-item has-text-centered">
          <a class="link">Link</a>
        </p>

        <p class="level-item has-text-centered">
          <img src="../../assets/Images/codesnip.png" width="150px">
        </p>

        <p class="level-item has-text-centered">
          <a class="link">Link</a>
        </p>
      </nav>

      <div class="tile is-ancestor">
        <div class="tile is-parent is-4">
          <div class="tile is-child box codesnip-saved">
            <aside class="menu">
              <p class="menu-label">
                Saved Snippets
              </p>
              <ul class="menu-list">
                <li class="is-active"><a>My First Snippet</a></li>
                <li><a>Saved Snippet 2</a></li>
                <li><a>Saved Snippet 2</a></li>
              </ul>
            </aside>
          </div>
        </div>    
  
        <div class="tile is-parent">
          <div class="tile is-child box codesnip">
            <app-snippets></app-snippets>
          </div>
        </div>    
      </div>

    </div>
  </div>
</section>