@import '../../assets/Sass/inc/variables';

.codesnip-widget {
    background: linear-gradient($color-blue-3, $color-blue-4);
}

.tile.is-child.codesnip-widget {
    margin: 20px !important;
}

section.tile.is-ancestor {
    max-width: 100% !important;
}

.box {
    background-color: $color-blue-5;
}