.tabs ul {
    justify-content: center !important;
}

.card {
    margin: 1em;
}

.dash-sidebar {
    // background-color: #6bbaec;
    margin-left: -50px !important;
}

// .tabs.is-toggle a {
//     border-color: white;
//     color: white;
//     &:hover {
//         color: black;
//     }
// }

.dash-tasks ul {
    list-style-type: none;
}

.inner-tasks {
    display: flex;
    justify-content: space-between;
}

.fa-minus-circle {
    color: #c92230;
    &:hover {
        opacity: 0.8;    
    }
}