<div class="tile is-ancestor" onload="init()">
  <div class="tile is-parent">
    <div class="tile is-child box dash-sidebar">
      <div class="tabs is-toggle is-full-width">
        <ul id="dash-tabs">
          <li class="is-active">
            <a>
              <span>To Do</span>
            </a>
          </li>
          <li>
            <a>
              <span>In Progress</span>
            </a>
          </li>
          <li>
            <a>
              <span>Complete</span>
            </a>
          </li>
        </ul>
      </div>
      
        <div class="tasks" id="todo">
          <ul class="dash-tasks">
            <li *ngFor="let task of tasks">
              <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child box inner-tasks">
                    <div class="btn-link">
                      <a routerLink="/single-task/{{ task.id }}">
                        {{ task.title }}
                      </a>
                    </div>
                    <div class="icon has-text-right del-btn">
                      <a (click)="delete(task)"><i class="fas fa-minus-circle"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <!-- <div class="tasks" id="in-progress">
        <div class="card">
          <div class="card-header has-text-right">
            <button class="delete button is-danger" title="delete task"
          (click)="delete(task)"></button>
          </div>
          <a routerLink="/single-task/{{ task.id }}">
            <div class="card-content">
              <p>In Progress</p>
            </div>
          </a>
        </div>
      </div>   -->
    </div>
  </div>
</div>


<!-- 
  <div class="card">
                <div class="card-header">
                  
                </div>
                <a routerLink="/single-task/{{ task.id }}">
                  <div class="card-content">
                    {{ task.Title }}
                  </div>
                </a>
              </div>
  
              <a routerLink="/single-task/{{ task.id }}">-->