@import '../../assets/Sass/variables';

.hero {
    background-color: $blue;
    a {
        color: $light_blue !important;
    }
    .active {
        color: $orange !important;
    }
}

.title {
    color: $light_blue;
}

.subtitle {
    color: $light_blue;
}

