.is-parent {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.add-task-box {
    background-color: #e76f51;
}

// input {
//     background-color: rgba(0,0,0,0.2)
// }

// textarea {
//     background-color: rgba(0,0,0,0.2)
// }

// select {
//     background-color: rgba(0,0,0,0.2)
// }

.new-task {
    box-shadow: 0 2px 3px #e76f51,0 0 0 1px #e76f51;
}

.button {
    border-color: #e76f51;
}

.search-input {
    border-color: #e76f51
}