<!-- <div class="header">
  <app-sidebar></app-sidebar>
</div>
<br>
<div class="page">
  <a routerLink="/tasks-board">
    <button class="button is-success">Task Board</button>
  </a>
  <a routerLink="/dashboard">
    <button class="button is-success">Dashoard</button>
  </a>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div> -->
<section class="page">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</section>
<app-header></app-header>
  <!-- <div class="messages">
    <app-messages></app-messages>
  </div> -->