@import '../../assets/Sass/variables';

.sidebar {
    background-color: #edf8f9;
    min-height: 100%;
    border-right: 1px solid $light-blue
}

.logo {
    img {
    margin: 75px 5px 75px 0; 
    width: 3.3em;
    }
}

.menu-item {
    margin: 90px 0;
}
