<aside class="sidebar">
  <section class="logo-section">
    <div class="logo has-text-centered">
      <a routerLink="/dashboard"><img src="../../assets/Images/Site_icon.png"></a>
    </div>
  </section>
  <section class="nav-section">
    <div class="app-navigation-menu">
      <ul class="has-text-centered">
        <li class="menu-item new-task">
          <a routerLink="/new-task"> 
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/tasks-board">
            <span class="icon">
              <i class="fas fa-tasks"></i>
            </span>
          </a>
        </li>
        <li class="menu-item">
          <a>
            <span class="icon">
              <i class="fas fa-asterisk"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</aside>
