<aside class="sidebar">
  <section class="logo-section">
    <div class="logo has-text-centered">
      <a routerLink="/dashboard"><img src="../../assets/Images/Site_icon.png"></a>
    </div>
  </section>
  <section class="nav-section">
    <div class="app-navigation-menu">
      <ul class="has-text-centered">
        <a routerLink="/tasks-board">
          <li class="menu-item">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
          </li>
        </a>
        <li class="menu-item">ho</li>
        <li class="menu-item">he</li>
        <li class="menu-item">hu</li>
      </ul>
    </div>
  </section>
</aside>
