<div *ngIf="task">
  <div class="card">
    <header calss="card-header">
      <p class="card-header-title">
        {{task.Title}}
      </p>
    </header>
    <div class="card-content">
      <div calss="content">
        <h4 class="task-summary">Description:</h4><br>
        {{task.Description}}
      </div>
      <label>summary: 
        <input [(ngModel)] = "task.summary" placeholder = "Summary">
      </label>
    </div>
    <div class="car-footer">
      <button (click)="goBack()" class="button is-info">go back</button>
    </div>
  </div>
</div>
