<div *ngIf="task">
  <div class="card">
    <header calss="card-header">
      <p class="card-header-title">
        {{task.Title}}
      </p>
    </header>
    <div class="card-content">
      <h4>Description</h4>
      <div class="content">
        <div contenteditable="true">{{ task.Description }}</div> 
      </div>
    </div>
    <div class="card-footer">
      <div class="level">
        <p class="level-item">
          <button (click)="goBack()" class="button is-info">Go back</button>
        </p>

        <p class="level-item">
          <button (click)="save()" class="button is-success">Save</button>
        </p>

        <p class="level-item">
          <button (click)="delete(task)" class="button is-danger">Delete</button>
        </p>
      </div>
    </div>
  </div>
</div>
