<section class="container dash-view">
  <div class="tile is-ancestor priority-tasks-ancestor">
    <div class="tile is-6 is-parent">
      <div class="tile is-child box">
        <header class="priority-header">
          <div class="level">
            <!-- Left Side -->
            <div class="level-left">
              <div class="level-item">
                <p class="subtitle">
                  High-Priority Tasks
                </p>
              </div>
            </div>
            <!-- Right Side -->
            <div class="level-right">
              <div class="level item">
                <div class="field has-addons">
                  <p class="control">
                    <button class="button">
                      Search
                    </button>
                  </p>
                  <p class="control">
                    <input class="input" type="text" placeholder="Search Tasks">
                  </p>
                </div>
              </div>
            </div>
          </div> 
        </header>
        <br>
        <div class="tile is-ancestor priority-tasks">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <div class="content priority-content">
                <p class="priority-empty has-text-centered">
                  No High Priority Tasks to Display
                </p>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</section>