<div class="page">
  <div class="tile is-ancestor">

    <div class="tile is-parent column-head is-4">
      <div class="tile is-child box">
        <h3 class="col-head">To Do</h3>
      </div>
    </div>

    <div class="tile is-parent column-head is-4">
      <div class="tile is-child box">
        <h3 class="col-head">In Progress</h3>
      </div>
    </div>

    <div class="tile is-parent column-head is-4">
      <div class="tile is-child box">
        <h3 class="col-head">Completed</h3>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent taskToDo is-4">
      <div class="tile is-child box col-body">
        <app-tasks ></app-tasks>        
      </div>
    </div>

    <div class="tile is-parent taskInProgress is-4">
      <div class="tile is-child box col-body">
  
      </div>
    </div>

    <div class="tile is-parent taskComplete is-4">
      <div class="tile is-child box col-body">

      </div>
    </div>

  </div>
</div>
