<ng-container *ngIf="tasks">
  <div class="page">
    <div class="tile is-ancestor has-text-centered">

      <div class="tile is-parent column-head is-4">
        <div class="tile is-child box">
          <h3 class="col-head subtitle">To Do</h3>
        </div>
      </div>

      <div class="tile is-parent column-head is-4">
        <div class="tile is-child box">
          <h3 class="col-head subtitle">In Progress</h3>
        </div>
      </div>

      <div class="tile is-parent column-head is-4">
        <div class="tile is-child box">
          <h3 class="col-head subtitle">Completed</h3>
        </div>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-parent taskToDo is-4">
        <div class="tile is-child box col-body">
          <div *ngIf="taskToDo && taskToDo.length > 0; else noTask">
            <app-tasks [tasks]=taskToDo></app-tasks>
          </div>        
          <ng-template #noTask><h3 class="has-text-centered no-tasks">No Tasks to display</h3></ng-template>
        </div>
      </div>

      <div class="tile is-parent taskInProgress is-4">
        <div class="tile is-child box col-body">
          <div *ngIf="taskInProgress && taskInProgress.length > 0; else noTask">
            <app-tasks [tasks]=taskInProgress></app-tasks>
          </div>        
          <ng-template #noTask><h3 class="has-text-centered no-tasks">No Tasks to display</h3></ng-template>
        </div>
      </div>

      <div class="tile is-parent taskComplete is-4">
        <div class="tile is-child box col-body">
          <div *ngIf="taskComplete && taskComplete.length > 0; else noTask">
            <app-tasks [tasks]=taskComplete></app-tasks>
          </div>        
          <ng-template #noTask><h3 class="has-text-centered no-tasks">No Tasks to display</h3></ng-template>
        </div>
      </div>

    </div>
  </div>
</ng-container>