 @import '../../assets/Sass/variables';

.column-head {
    height: 85px;
}

.page {
    width: 95%;
    margin: auto;
}

.tile.is-child {
    background-color: #edf8f9;
}

.col-head {
    color: $orange;
}
