<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box recent-tasks-ancestor">
      <header class="recent-header">
        <div class="level">
          <!-- Left Side -->
          <div class="level-left">
            <div class="level-item">
              <p class="subtitle">
                Recent Tasks
              </p>
            </div>
          </div>
          <!-- Right Side -->
          <div class="level-right">
            <div class="level item">
              <div class="field has-addons">
                <p class="control">
                  <button class="button">
                    Search
                  </button>
                </p>
                <p class="control">
                  <input class="input" type="text" placeholder="Search Tasks">
                </p>
              </div>
            </div>
          </div>
        </div> 
      </header>
      <br>
      <div class="tile is-ancestor recent-tasks">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <div class="content recent-content">
              <p class="recent-empty has-text-centered">
                No Recent Tasks to Display
              </p>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>
