/* RGB */
$orange: rgba(229, 80, 0, 1);
$dark_green: rgba(25, 31, 35, 1);
$green: rgba(0, 65, 79, 1);
$blue: rgba(29, 102, 117, 1);
$light_blue: rgba(132, 172, 181, 1);
$off_white: rgba(237, 248, 249, 1);
$light_orange: rgba(239, 195, 172, 1);

$primary-orange-0: #FF6B2C;;	// Main Primary color */
$primary-orange-1: #FF895A;;
$primary-orange-2: #A83000;;
$primary-orange-3: #C43800;;
$primary-orange-4: #6C1F00;;

$secondary-blue-0: #128C8C;	// Main Secondary color (1) */
$secondary-blue-1: #49CECE;
$secondary-blue-2: #006565;
$secondary-blue-3: #007676;
$secondary-blue-4: #004141;

$secondary-green-0: #18BB18;	// Main Secondary color (2) */
$secondary-green-1: #51E751;
$secondary-green-2: #008700;
$secondary-green-3: #009D00;
$secondary-green-4: #005700;

$color-blue-0: #181E24;	// Main Primary color */
$color-blue-1: #253546;
$color-blue-2: #5da2c6;
$color-blue-3: #8AACCE;
$color-blue-4: #82a0af;
$color-blue-5: #deeaef;